<!DOCTYPE html>
<html lang="en">
<head>
    <div>

    
</div>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      
      </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    
    
    <%- include('./partial/navbar.ejs') %>
    <%- include('./partial/navbarcent.ejs') %>
    <h1>About</h1>
    <section class="about py-5" style = "padding: 6px !important;background-color: #e76f51">
        <div class="row align-items-center container my-5 mx-auto">
          <div class="text col-lg-6 col-md-6 col-12 w-50 pt-5 pb-5">
           
            <h2>View</h2>
            <p>
              see the latest collection and design 
            </p>
          </div>
          <div class="img col-lg-6 col-md-6 col-12 w-50 pt-5 pb-5 hov-anim-jelly">
            <img class="img-fluid" src="img/about-us-1.png" />
          </div>
        </div>
      </section>


      
      <section class="about py-5" style = " padding: 6px !important ;background-color: #d8e2dc">
        <div class="row align-items-center container my-5 mx-auto">
          <div class="text col-lg-6 col-md-6 col-12 w-50 pt-5 pb-5">
           
            <h2>Order</h2>
            <p>
             Select items  you wish and add them to cart to post an order
          </div>
          <div class="img col-lg-6 col-md-6 col-12 w-50 pt-5 pb-5 hov-anim-jelly">
            <img class="img-fluid" src="img/about-us-1.png" />
           
          </div>
        </div>
      </section>
      
   
      <section class="about py-5" style = " padding: 6px !important ;background-color: #9bf6ff">
        <div class="row align-items-center container my-5 mx-auto">
          <div class="text col-lg-6 col-md-6 col-12 w-50 pt-5 pb-5">
          
            <h2>Appointment</h2>
            <p>
              Book an Appointment now or get a call from us by simply mentioning your phone number
            </p>
          </div>
          <div class="img col-lg-6 col-md-6 col-12 w-50 pt-5 pb-5 hov-anim-jelly">
            <img class="img-fluid" src="img/about-us-1.png" />
           
          </div>
        </div>
      </section>
   
</body>
</html>