<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel = "stylesheet" href = "css/main.css">
    
    <!-- <video id="background-video" autoplay loop muted poster="img/liveback.webm">
        <source src="img/liveback.webm" type="video/webm">
      </video> -->

</head>
<body>
  
    <%- include('./partial/navbar.ejs') %>
    <%- include('./partial/corousel.ejs') %>
  
    
<div id="sample" class="box-body">
    <section class=" about  py-5 " id = "hello" style = "padding: 0px !important;background-color: #e76f51">
        <div class="row d-inline align-items-center container my-5 mx-auto">
          <div class="text col-lg-6 col-md-6 col-12 w-50 pt-5 pb-5">
            <h2>About Us</h2>
            <p>
             We make all kinds of jewellery in gold and diamond
            </p>
          </div>
          
        </div>
      </section>


      
      <section class="about py-5"  id = "hello" style = " padding: 6px !important ;background-color: #d8e2dc">
        <div class="row d-inline align-items-center container my-5 mx-auto">
          <div class="text col-lg-6 col-md-6 col-12 w-50 pt-5 pb-5">
            
            <h2>Speciality</h2>
            <p>
              Our speciality in making light weight jewellery
            </p>
          </div>
          <!-- <div class="img col-lg-6 col-md-6 col-12 w-50 pt-5 pb-5 hov-anim-jelly">
            <img class="img-fluid" src="img/about-us-1.png" />
           
          </div> -->
        </div>
      </section>

      <section class="about py-5" id = "hello" style = "padding: 6px !important;background-color: #5181e7">
        <div class="row d-inline align-items-center container my-5 mx-auto">
          <div class="text col-lg-6 col-md-6 col-12 w-50 pt-5 pb-5">
            <h2>Restore</h2>
            <p>
              Modification & upgradation of old as well as new jewellery as per customer requirement
            </p>
          </div>
          <!-- <div class="img col-lg-6 col-md-6 col-12 w-50 pt-5 pb-5 hov-anim-jelly">
            <img class="img-fluid" src="img/about-us-1.png" />
          </div> -->
        </div>
      </section>
      
    </div>
   

      
     
     
      
      
   
</body>
<%- include('./partial/footer.ejs') -%>
</html>