<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel = "stylesheet" href = "css/contact.css">
    <title>test</title>
</head>
<body>
    <%- include('./partial/navbar.ejs') %>

    
    

    <h1>inside necklace</h1>.

      

     
     
    <div class="container"><div class="banner-down-images">
       
    </div>
    <div class="row no-gutters-custom mt-0 mb-2">
      <div class="col-6 col-md-4 col-sm-4">
        
      </div>
      <div class="col-6 col-md-4 col-sm-4">
        
      </div>
      <div class="col-6 col-md-4 col-sm-4">
       
      </div>
    
      <div class="col-6 col-md-4 col-sm-4">
       
      </div>
      <div class="col-6 col-md-4 col-sm-4">
        
      </div>
      <div class="col-6 col-md-4 col-sm-4">
       
      </div>
    </div>
    <div class="banner-down-images mt-3 mt-md-4">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <figure><a href="products/category/customers-favourite"><img src="https://sencowebfiles.s3.ap-south-1.amazonaws.com/website/files/B33hUuVLI7xBX3edrcSINLxM0avQP9bY1ACj6C67.jpeg" alt="Customers Favourite" width="100%"></a></figure>
        </div>
        <div class="col-md-6 col-sm-6">
          <figure><a href="products/category/earrings-all-products"><img src="https://sencowebfiles.s3.ap-south-1.amazonaws.com/website/files/KtStCf6khEQeWJBJE41GJkmeno7rxO1dTMDnsvgz.jpeg" alt="ALL EARRINGS " width="100%"></a></figure>
        </div>
      </div>
    </div>
    <div class="mid-part-home">
      <h1>OUR DESIGNS</h1>
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <figure><a href="products/category/necklace-all-products">=<img src="https://sencowebfiles.s3.ap-south-1.amazonaws.com/website/files/LzQaKmHeJ7i1x5Ko595GIc6mw5fs97ZaV1nQfzXJ.jpeg" alt="ALL NECKLACE" width="100%"></a></figure>
        </div>
        <div class="col-lg-8 col-md-8">
          <div class="row">
            <div class="col-md-12">
              <figure><a href="products/category/chain-all-products">=<img src="https://sencowebfiles.s3.ap-south-1.amazonaws.com/website/files/8GCCEJNpJJ3PuUDKBrAxuFlLXwzte2N3QP9iEcUr.jpeg" alt="CHAINS" width="100%"></a></figure>
            </div>
            <div class="col-lg-6 col-md-6 float-left">
              <figure><a href="products/category/bracelet-all-products">=<img src="https://sencowebfiles.s3.ap-south-1.amazonaws.com/website/files/DhOsSNjskua7UzPRFD3o9dG8zzfbJf8f30qiKttH.jpeg" alt="ALL BRACELET" width="100%"></a></figure>
            </div>
            <div class="col-lg-6 col-md-6 float-left">
              <figure><a href="products/category/pendant-all-products">=<img src="https://sencowebfiles.s3.ap-south-1.amazonaws.com/website/files/LWAOo9cCSK7Abdi5RPE18hhg3nfokSXJVg0CjhUh.jpeg" alt="ALL PENDANT" width="100%"></a></figure>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 float-left pos-t">
          <figure><a href="products/category/bangle-all-products">=<img src="https://sencowebfiles.s3.ap-south-1.amazonaws.com/website/files/JC2zpInnYOWj8naVrtneyR5g3h4DGTFjgcnP90lu.jpeg" alt="ALL BANGLE" width="100%"></a></figure>
        </div>
        <div class="col-lg-8 col-md-8 pos-t1">
          <figure><a href="products/category/gold-and-diamond-nosepin">=<img src="https://sencowebfiles.s3.ap-south-1.amazonaws.com/website/files/2WjZNPH5CFGZgeU8lMgK4tYSbO4sHzUqO09MpFQj.jpeg" alt="Nosepin" width="100%"></a></figure>
        </div>
        <div class="col-lg-4 col-md-4 pos-t2">
          <figure><img src="https://sencowebfiles.s3.ap-south-1.amazonaws.com/website/files/Co4M6MXCI4zhuemtLIMbUU0fbPLpppq76vWokkYD.jpeg" alt="ALL COINS" width="100%"><a href="products/category/coins-and-bars"></a></figure>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <figure><a href="products/category/ring-all-products">=<img src="https://sencowebfiles.s3.ap-south-1.amazonaws.com/website/files/cUAglhGGhrkrnZDemyLu4NQ3jc46utBVhqpqgjwm.jpeg" alt="ALL Rings" width="100%"></a></figure>
        </div>
        <div class="col-lg-8 col-md-8">
          <figure><a href="products/category/platinum-jewelery"><img src="https://sencowebfiles.s3.ap-south-1.amazonaws.com/website/files/8LfLX719XZYlzx7iTii8O3jCGjKnUa53toTCL0i5.jpeg" alt="Platinum Jewellery" width="100%"></a></figure>
        </div>
      </div>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col-md-12">
        <a href="products/category/silver-utensils"><img src="https://sencowebfiles.s3.ap-south-1.amazonaws.com/website/files/eCi19lX0IuxtCxNLvcxVs9K1CNO1NUeAx1P6lMWk.jpeg" alt="Silver" width="100%"></a>
      </div>
    </div></div>
   
</body>
</html>