<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel = "stylesheet" href = "css/rate.css">
   
    <title>Document</title>
</head>
<body>
    <%- include('./partial/navbar.ejs') %>
    <p id="gold"></p>
    <p id="silver"></p>
      
      
    <script>

    //     var gold = document.getElementById("gold");
    //     var silver = document.getElementById("silver");
    //     const options = {
    //       method: 'GET',
    //       headers: {
    //           'X-RapidAPI-Key': 'e7a0f1b42emshed5044437aabf25p19679ajsn83c9ce1fdf21',
    //           'X-RapidAPI-Host': 'gold-and-silver-rate.p.rapidapi.com'
    //       }
    //   };
      
    //   fetch('https://gold-and-silver-rate.p.rapidapi.com/', options)
    //       .then(response => response.json())
    //       .then(data =>{ 
        
    //         var au = "current gold rate" + data.goldmcx;
    //         var ag  = "current rate of silver" + " " + data.silvermcx;
    //          gold.innerHTML = au;
    //          silver.innerHTML = ag;
    //          console.log(au);
    //          })
    //       .catch(err => console.error(err));


    const options = {
	method: 'GET',
	headers: {
		'X-RapidAPI-Key': 'e7a0f1b42emshed5044437aabf25p19679ajsn83c9ce1fdf21',
		'X-RapidAPI-Host': 'live-metal-prices.p.rapidapi.com'
	}
};

fetch('https://live-metal-prices.p.rapidapi.com/v1/latest/XAU_24K,XAG,PA,PL,GBP,EUR/INR/gram', options)
	.then(response => response.json())
    .then(data =>{ 
        
        var au =   "Current Rate of Gold" + " :₹" +  data.rates.XAU_24K + "#";
        var ag  = "Current Rate of Silver" + ": ₹" + data.rates.XAG + "*";
         gold.innerHTML = au;
         silver.innerHTML = ag;
         console.log(au);
         })
      .catch(err => console.error(err));
      
          </script>  
          <span>*The prices mentioned are per gram  , this price is not reliable</span>
          <span>#For 22k and weighing 1gram  </span>
</body>
</body>
<%- include('./partial/footer.ejs') -%>

</html>