/* .navbar
{
    
    top: 0px;
    left: -2px;
    font-size: 18px;
    border-radius: 25px;
  
  padding: 10px;
  width: 1900px;
  height: 50px;
} */

.navbar
{
    
    top: 0px;
    left: -2px;
    font-size: 18px;
    border-radius: 90px;
  
  padding: 10px;
  width: 11900px;
  height: 50px;
}

/* .devcontainer{
    color: whitesmoke;
    border: 2px solid green;
    padding: 1rem;
    text-align: center;
    background-color: #000000e6;
}

.devcontainer p {
    margin: 1rem 0.5rem;
    margin-top: 2rem;
} */

img {
    width: 35%;
    height: 50%;
    border: 2px solid blue;
    border-radius: 5%;
}

.social-media-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-media-icons{
    height: 3rem;
}

/* #background-video {
    width: 100vw;
    height:  100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  } */