
html {
  scroll-behavior: smooth;
}

#sample
{
  padding-top: 45%;
}
.navbar
{
    
    top: 0px;
    left: -3px;
    font-size: 18px;
  border-radius: 25px;
  padding-left: 20%;
  padding: 10px;
  width: 11900px;
  height: 50px;
}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .carousel 
  {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 500px;
  min-height: 50%;
  
 
  }
  body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    
    animation: gradient 15s ease infinite;
    height: 10vh;
  }
  p
  {
    padding-left: 12%;
  }
   h2
  {
    padding-left: 12%;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 50% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  


  