<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel = "stylesheet" href = "css/footer.css">
  </head>  
  
  <body>
   
    
  <!--  FOOTER START -->
    
  <div class="footer ">
    <div class="inner-footer">
  
  <!--  for company name and description -->
      
  
  <!--  for quick links  -->
      <div class="footer-items ">
        <h3>Quick Links</h3>
        <div class="border1"></div> <!--for the underline -->
          <ul>
            <a href="/index"><li>Home</li></a>
            <a href="/collection"><li>Jewellery</li></a>
            <a href="/contact"><li>Contact</li></a>
            <a href="/upload"><li>Add Design</li></a>
            <a href="/about"><li>About</li></a>
            <a href="/developer"><li>Developer</li></a>
          </ul>
      </div>
  
  <!--  for some other links -->
      
  
  <!--  for contact us info -->
      <div class="footer-items">
        <h3>Contact us</h3>
        <div class="border1"></div>
          <ul class="hello">
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>ADD LOCATION</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>ADD NUMBER</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i>ADD EMAIL</li>
          </ul> 
        
  <!--   for social links -->
          <!-- <div class="social-media">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-google-plus-square"></i></a>
          </div> 
      </div>
    </div>
     -->
  <!--   Footer Bottom start  -->
    <div class="footer-bottom">
      Copyright &copy; Food and Burps 2020.
    </div>
  </div>
    
  <!--   Footer Bottom end -->
    
  <!--   FOOTER END -->
    
  </body>  
  
  <!-- Thanks to Computer Conversations -->